body {
	font: 16px sans-serif;
	margin: 0px;
	padding: 0px;
}
    header h1 {
    	display: block;
    	width: 800px;
    	text-align: center;
    	border-bottom: 2px solid black;
    	margin-left: 20px;
    	margin-bottom: 12px;
    	padding-bottom: 8px;
    }
        header h1 a {
        	font-size: 26px ;
        	color: #0bb6f1;
        	font-weight: normal;
        }
    div {
        display: inline-block;
        max-width: 605px;
    }
    form {
        margin-top: 5px;
        display: inline-block;
    }
        fieldset {
            border: solid 1px black;
            max-width: 270px;
        /*  -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;*/
        }
            legend {
                text-align: center;
            }
            fieldset p.memory {
                display: inline-block;
                margin-top: 50px;
                margin-bottom: 0px;
            }
            fieldset p.money-cpu {
                display: inline-block;
                float: right;
                margin-bottom: 0px;
            }
                img {
                	float: left;
                }

                span {
                	vertical-align: sub;
                	margin-right: 3px;
                	font-size: 15px;
                }

    div#offer-container {
    	border: 2px solid black;
    	padding: 5px;
        padding-bottom: 10px;
    	margin-left: 5px;
    	margin-right: 5px;
    }
    div#parameter-slider {
    	position: absolute;
    	left: 645px;
        float: right;
        height: 460px;
        padding-top: 150px;
    }
        div#parameter-slider  div  {
        	display: block;
          	text-align: left;
        }
            div#parameter-slider  div input {
            	display: block;
              	text-align: left;
              	margin-top: 10px;
            }
